<h1>Listing downloads</h1>

<table>
  <tr>
    <th>Title</th>
    <th>File</th>
    <th>Radius</th>
    <th>Size</th>
    <th>Latlon</th>
  </tr>

<% @downloads.each do |download| %>
  <tr>
    <td><%=h download.title %></td>
    <td><%=h download.file %></td>
    <td><%=h download.radius %></td>
    <td><%=h download.size %></td>
    <td><%=h download.latlon %></td>

  </tr>
<% end %>
</table>

<br />

