<p>
  <b>Title:</b>
  <%=h @download.title %>
</p>

<p>
  <b>File:</b>
  <%=h @download.file %>
</p>

<p>
  <b>Radius:</b>
  <%=h @download.radius %>
</p>

<p>
  <b>Size:</b>
  <%=h @download.size %>
</p>

<p>
  <b>Latlon:</b>
  <%=h @download.latlon %>
</p>


<%= link_to 'Edit', edit_download_path(@download) %> |
<%= link_to 'Back', downloads_path %>