<h1>New country</h1>

<% form_for(@country) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :iso %><br />
    <%= f.text_field :iso %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :capital %><br />
    <%= f.text_field :capital %>
  </p>
  <p>
    <%= f.label :population %><br />
    <%= f.text_field :population %>
  </p>
  <p>
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </p>
  <p>
    <%= f.label :continent %><br />
    <%= f.text_field :continent %>
  </p>
  <p>
    <%= f.label :tld %><br />
    <%= f.text_field :tld %>
  </p>
  <p>
    <%= f.label :currency %><br />
    <%= f.text_field :currency %>
  </p>
  <p>
    <%= f.label :currency_code %><br />
    <%= f.text_field :currency_code %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', countries_path %>