<h1>Listing Cities (<%= params[:city_id]%>)</h1>

<table>
  <tr>
    <th>Country</th>
    <th>Name</th>
    <th>Population</th>
    <th>Timezone</th>
    <th>GeonameID</th>
    <th>LatLon</th>
  </tr>

<% @cities.each do |city| %>
  <tr>
    <td><a href="/countries/<%=h city.country_iso %>"> <%=h city.country_iso %> </a></td>
	<td><a href="cities/<%=h city.id %>"> <%=h city.name %> </a></td>
    <td><%=h city.population %></td>
    <td><%=h city.timezone %></td>
    <td><%=h city.id %></td>
    <td>
    	<% latlon = city.latlon.match /(\d+\.*\d*),(\d+\.*\d*)/ %>
    	<% if latlon %>
    	<%=h latlon[2] %> <br/> <%=h latlon[1] %>
    	<% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

